---
import MainLayout from "../layouts/MainLayout.astro";
import "../css/style.css";
import ForsideGrid1 from "../components/ForsideGrid1.astro";
import ForsideGrid2 from "../components/ForsideGrid2.astro";
import ForsideGrid3 from "../components/ForsideGrid3.astro";
---

<MainLayout title="Forside">
	<section class="main_content">
		<h1></h1>
			<ForsideGrid1/>
			<ForsideGrid2/>
			<ForsideGrid3/>
		</article>
	</section>
</MainLayout>

<style>

</style>