---
import "../css/style.css";
---

<article>
    <img src="" alt="">
    <div class="flex">
        <h2>Erhvervserfaring</h2>
        <ul>
            <li>Rengøring for spil firmaet Invisible Walls (2022-nu)</li>
            <li>Jule lagermedarbejder for Common Sense (2022)</li>
            <li>Handicap/hjemmehjælper hos privatfamilie (2019-2021)</li>
            <li>Kasseassisten Dagli Brugsen Sørbymagle (2015-2018)</li>
            <li>Julehjælper Flying Tiger (2015)</li>
            <li>Kombineret køkken- og salgsmedarbejder i Sørbyhallen (2013-2014)</li>
        </ul>
    </div>
</article>

<style>

    article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #854835;
        padding: 30px 30px 30px 0px;
        gap: 30px;
    }

    ul{
        margin-left: 20px;
    }
</style>