---
import "../css/style.css";
---

<article>
    <div>
        <h2></h2>
        <ul>
            <li>Kea (2023-nu)</li>
            <li>Psykomotorisk terapeut Københavns Professionshøjskole (2022)</li>
            <li>Fysioterapeut Københavns Professionshøjskole (2021-2022)</li>
            <li>STX Høng Gymnasium sproglig linje (2016-2019)</li>
            <li>Konditor ZBC Ringsted grundforløb 1-2 (2015-2016)</li>
        </ul>
    </div>
    <img src="" alt="">
</article>

<style>

</style>