---
import "../css/style.css";
---

<article>
    <p>@Krestine Haugaard, Multimedie design KEA</p>
</article>

<style>

article{
        background-color: #bd8e56;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p{
        font-size: 10px;
    }


    @media (max-width:800px) {
        article{
            height: 50px;
        }

    }

</style>